@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Merriweather:ital,wght@0,400;0,700;1,700&family=Nunito&family=Poppins:ital,wght@0,400;0,700;1,400&family=Roboto:wght@400;700&family=Sacramento&display=swap');

body{
    font-family: 'Nunito',sans-serif;
}

a{
    color: #000;
}

a:visited{
    color: blueviolet;
}

a:hover, a:focus{
    color: #00f;
}

a:active{
    color: #f00;
}